@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Rubik, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Colors (HSL) */
    --black: 223deg 45% 9%;
    --white: 240deg 100% 99%;
    --blue-dark: 235deg 46% 20%;
    --blue-light: 246deg 77% 62%;
    --blue-lighten: 235deg 40% 34%;
    --blue-desaturated: 235deg 45% 61%;
    --blue-pale: 236deg 100% 87%;
    --cards-orange: 15deg 100% 69%;
    --cards-blue: 195deg 74% 62%;
    --cards-pink: 348deg 100% 68%;
    --cards-green: 145deg 57% 55%;
    --cards-violet: 263deg 62% 51%;
    --cards-yellow: 43deg 84% 65%;
  }

  body {
    min-height: 100vh;
  }

  @media (prefers-reduced-motion: no-preference) {
    @keyframes wait {
      from {
        opacity: 0;
      }

      to {
        opacity: 0;
      }
    }

    @keyframes grow {
      from {
        opacity: 0;
        transform: scale(0.7);
      }

      to {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
